<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Heart Disease Prediction</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">lg</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Heart Disease Prediction</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Heart Disease Prediction</a></li>
      </ul>
      
    </div>
  </nav>


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center orange-text">Heart Disease Prediction</h1>
      <div class="row center">
        <h5 class="header col s12 light">Predict Before You Suffer
        
        </h5>
      </div>

              <div class="row">
    <form action='/predict' method="post" class="col s12">
      
    </form>
      </div>
      <form action='/predict' method="POST" class="col s12">
        <table>
          <tr>
            <td>
              <div class="input-field col s4">
                <label for="first_name"><b>Age</b></label>
                <br>
              <input   id="first_name" name='age'type="text" class="validate">
            </div>
            </td>
            <td>
              <div class="input-field col s4">
                <label for="first_name"><b>Sex</b></label>
                <br>
              <input   id="first_name" name='sex'type="text" class="validate">
            </div>
            </td>
            <td>
              <div class="input-field col s4">
                <label for="first_name"><b>Chest Pain</b></label>
                <br>
              <input   id="first_name" name='chestPain'type="text" class="validate">
            </div>
            </td>
          </tr>
    
          <tr>
            <td>
              <div class="input-field col s4">
                <label for="first_name"><b>Maximum Heart Rate</b></label>
                <br>
              <input   id="first_name" name='maxheartrate'type="text" class="validate">
            </div>
            </td>
            <td>
              <div class="input-field col s4">
                <label for="first_name"><b>Exercise Induced Angina</b></label>
                <br>
              <input   id="first_name" name='EIA'type="text" class="validate">
            </div>
            </td>
            <td>
              <div class="input-field col s4">
                <label for="first_name"><b>Old Peak</b></label>
                <br>
              <input   id="first_name" name='oldPeak'type="text" class="validate">
            </div>
            </td>
          </tr>
    
          <tr>
            <td>
              <div class="input-field col s4">
                <label for="first_name"><b>Slope</b></label>
                <br>
              <input   id="first_name" name='Slope'type="text" class="validate">
            </div>
            </td>
            <td>
              <div class="input-field col s4">
                <label for="first_name"><b>Ca</b></label>
                <br>
              <input   id="first_name" name='Ca'type="text" class="validate">
            </div>
            </td>
            <td>
              <div class="input-field col s4">
                <label for="first_name"><b>Thalassemia</b></label>
                <br>
              <input   id="first_name" name='Thalassemia'type="text" class="validate">
            </div>
            </td>
          </tr>
        </table>
        </form>
        <div class="row center">

          <button type="submit" class="btn-large waves-effect waves-light orange">Predict</button>
        </div>
      <br>
      <br>
        {{pred}}<br>

    </div>
  </div>


    <br><br>
  </div>
  </div>>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About the Project</h5>
          <p class="grey-text text-lighten-4">We are a team of Data Science undergraduates of Sri lankan Institute of Information Technology, working on this project as learning and experiencing machine learning models. We garantee that the prediction is based on true patients data.

        </div>
        
        <div class="col l3 s12">
          <h5 class="white-text">Our Team</h5>
          <ul>
            <li><a class="white-text" href="https://www.linkedin.com/in/sathsara-wanaguru-3b25331b7/">Sathsara Wanaguru</a></li>
            <li><a class="white-text" href="https://www.linkedin.com/in/amaya-dolawatta">Amaya Dolawatta</a></li>
            <li><a class="white-text" href="https://www.linkedin.com/in/uresha-kolonne-637587220">Uresha Kolonne</a></li>
            <li><a class="white-text" href="https://www.linkedin.com/in/duneesha-samarakoon">Duneesha Samarakoon</a></li>
            <li><a class="white-text" href="https://www.linkedin.com/in/dehemi-rajapaksha">Dehemi Rajapakse</a></li>
          </ul>
        </div>
      </div>
    </div>
    
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src=".js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>

